.App {
  text-align: center;
}

.artists-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.artists-flex img {
  height: 200px;
  width: 200px;
}

.favorites-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorites-flex img {
  height: 200px;
  width: 200px;
}
